.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.bgimg-1 {
    background-image: url("../images/AbstractForAunt.jpg");
    opacity: 1;
    height: 500px;
}

.bgimg-2 {
    background-image: url("../images/gallery.png");
    opacity: 1;
    height: 500px;
}

.bgimg-3 {
    background-image: url("../images/IMG_8587.JPG");
    opacity: 1;
    height: 500px;
}

.bgimg-4 {
    background-image: url("../images/MountainForManikAji.jpg");
    opacity: 1;
    height: 500px;
}

h1 {
    font-family: "arpona", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

nav {
    float: left;
    text-align: right;
    padding: 40px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
}

.container1 {
    width: 100%;
    color: white;
}

.container1 {
    width: 100%;
    color: white;
}

.nav {
    height: 120px;
    color: rgb(213, 188, 234);
    align-items: center;
    position: sticky;
    top: -50px;
    width: 100%;
}