.menu-item {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 175, 241);
}

ul.menu-item li {
    display: inline-block;
}

ul.menu-item li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(103, 38, 107);
}
.active {
    background-color: rgb(103, 38, 107);
}

.header {
    border:dashed;
    text-align: center;
    width: 400px;
    

}
p {
    font-family: ofelia-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: black;
}

ul {
    font-family: ofelia-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: black;
}

table {
    border: 5px solid rgb(159, 159, 159);
    border-collapse: collapse;
    font-family: ofelia-text, sans-serif;
    font-style: normal;
}

h1 {
    font-family: fenwick-text, serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: ofelia-text, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: fenwick-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}