@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-h1 {
    animation-name: fadeIn;
    animation: fadeIn 3s;
}

h1,
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-weight: bold;*/
    color: white;
}

.socialmediaposition {
    display: block;
    margin: 50 auto 0;
    width: 1.7%;
}

.facebooksocialmediaiconposition {
    position: absolute;
    z-index: 1000;
    top: 415px;
    left: 655px;
    width: 1.7%;
}

.twittersocialmediaiconposition {
    position: absolute;
    z-index: 1000;
    top: 415px;
    left: 685px;
    width: 1.7%;
}

.youtubesocialmediaiconposition {
    position: absolute;
    z-index: 1000;
    top: 415px;
    left: 715px;
    width: 1.7%;
}

.socialmediaiconsize {
    display: block;
    margin: 0 auto;
    width: 1.7%
}

.bgimg-1,
.bgimg2,
.bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
}

.bgimg-1 {
    background-image: url("../images/homeimagetest.jpg");
}

.bgimg-2 {
    background-image: url("../images/image1.jpg");
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 775px;
}

.bgimg-3 {
    background-image: url("../images/homeimagetest2.jpg");
    opacity: 1;
    height: 1600px;
}

#background-video {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    left: 400;
    right: 0;
    top: 50;
    bottom: 0;
    z-index: -1;
}

@keyframes backgroundvideofadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeinbackgroundvideo {
    animation-name: backgroundvideofadein;
    animation: backgroundvideofadein 3s;
}

.smallspace {
    height: 650px;
}

.bigspace {
    height: 2000px;
}

ul {
    list-style: inside;
    color: white;
    text-align: center;
}

.bulletpointfontsize {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: white;
}

.hometexttop {
    position: absolute;
    z-index: 1000;
    top: 400px;
    left: 650px;
}

.toplist1 {
    position: absolute;
    z-index: 1000;
    top: 40px;
    left: 400px;
}

.hometext {
    position: absolute;
    z-index: 1000;
    top: 500px;
    left: 650px;
    font-size: 25px;
}

.hometext2 {
    position: absolute;
    z-index: 1000;
    top: 600px;
    left: 360px;
    font-size: 20px;
}

.hometext3 {
    position: absolute;
    z-index: 1000;
    top: 400px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.hometext4 {
    position: absolute;
    z-index: 1000;
    top: 700px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.hometext5 {
    position: absolute;
    z-index: 1000;
    top: 800px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.hometext6 {
    position: absolute;
    z-index: 1000;
    top: 4000px;
    left: 100px;
    font-size: 27px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.hometext7 {
    position: absolute;
    z-index: 1000;
    top: 4000px;
    left: 800px;
    font-size: 27px;
    text-align: left;
    overflow: hidden;
    inline-size: 600px;
}

.bulletpointcontainer {
    display: grid;
    grid-template-columns: 38% 38% 24%;
    /*gap: 10px;
    padding: 10px;*/
    grid-template-rows: auto auto auto auto;
}

.bulletpoint1 {
    grid-column: 2;
    grid-row: 1;
}

.bulletpoint2 {
    grid-column: 2;
    grid-row: 2;
}

.bulletpoint3 {
    grid-column: 2;
    grid-row: 3;
}

.bulletpoint4 {
    grid-column: 2;
    grid-row: 4;
}

.servicesoffer1 {
    position: absolute;
    z-index: 1000;
    top: 800px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer1right {
    position: absolute;
    z-index: 1000;
    top: 800px;
    left: 700px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer2 {
    position: absolute;
    z-index: 1000;
    top: 850px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer2right {
    position: absolute;
    z-index: 1000;
    top: 850px;
    left: 700px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer3 {
    position: absolute;
    z-index: 1000;
    top: 900px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer3right {
    position: absolute;
    z-index: 1000;
    top: 900px;
    left: 700px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer4 {
    position: absolute;
    z-index: 1000;
    top: 950px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer4right {
    position: absolute;
    z-index: 1000;
    top: 950px;
    left: 700px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer5 {
    position: absolute;
    z-index: 1000;
    top: 1000px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer5right {
    position: absolute;
    z-index: 1000;
    top: 1000px;
    left: 700px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer6 {
    position: absolute;
    z-index: 1000;
    top: 1050px;
    left: 415px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.servicesoffer6right {
    position: absolute;
    z-index: 1000;
    top: 1050px;
    left: 700px;
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    inline-size: 700px;
}

.homeservicelist {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bgimg2header {
    position: absolute;
    z-index: 1000;
    top: 3800px;
    left: 290px;
    inline-size: 1000px;
    font-size: 32px;
}


/*
https://cdn.pixabay.com/vimeo/323496013/Seoul%20-%2021985.mp4?width=1280&expiry=1674241607&hash=267c9e61954a66e665c3788d8ccedf162603550c
*/

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.video-container {
    height: 600px;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: relative;
}

.typewriter p {
    overflow: hidden;
    border-right: .15em solid white;
    /* Cursor */
    white-space: nowrap;
    /* Keeps text on one line*/
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* Typewriter animation */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* cursor animation */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.footer {
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
}

.left {
    float: left;
    width: 20%;
    background-color: rgb(17, 23, 26);
    color: white;
    padding: 3%;
    margin: 3% 3% 3% 3%;
}

.main {
    float: left;
    width: 42%;
    padding: 3%;
    margin: 3% 3% 3% 3%;
    background-color: white;
}

.right {
    float: left;
    width: 20%;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 3%;
    margin: 3% 3% 3% 3%;
}