h1,
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-weight: bold;*/
    color: white;
}

ul {
    list-style: inside;
    color: white;
    text-align: center;
}

.typewriter p {
    overflow: hidden;
    border-right: .15em solid white;
    /* Cursor */
    white-space: nowrap;
    /* Keeps text on one line*/
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* Typewriter animation */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* cursor animation */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.footer {
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
}

.left {
    float: left;
    width: 20%;
    background-color: rgb(17, 23, 26);
    color: white;
    padding: 3%;
    margin: 3% 3% 3% 3%;
}

.main {
    float: left;
    width: 42%;
    padding: 3%;
    margin: 3% 3% 3% 3%;
    background-color: white;
}

.right {
    float: left;
    width: 20%;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 3%;
    margin: 3% 3% 3% 3%;
}