* {
    box-sizing: border-box;
}

body {}

.nav {
    height: 120px;
    align-items: center;
    position: sticky;
    top: -50px;
}

h1 {
    text-align: center;
    font-family: "mencken-std", sans-serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
}

.container2 {
    width: 40%;
    float: left;
    text-align: center;
}

.container3 {
    width: 20%;
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container4 {
    width: 40%;
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container5 {
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container6 {
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2 {
    font-family: "arpona", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "mencken-std-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

a {
    font-family: "arpona", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.container7 {
    width: 39%;
    float: left;
    border-radius: 9px;
    background-color: gray;
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 5px;
    margin-left: 10%;
    font-size: 12px;
    margin-right: 5px;
}

.container8 {
    width: 39%;
    float: left;
    border-radius: 9px;
    background-color: gray;
    padding: 5px;
    margin-right: 10%;
    color: white;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.bgimg-1 {
    background-image: url("../images/bg1.jpg");
    opacity: 1;
    height: 650px;
}

.bgimg-1 h1 {
    font-family: "continuo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: -2%;
    color: white;
}

.location {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.location-left {
    width: 40%;
    margin: 5%;
    float: left;
}

.location-right {
    width: 40%;
    margin: 5%;
    float: left;
}

.main2 {
    width: 100%;
}

.bgimg-2 {
    opacity: 1;
    height: 700px;
}

.bgimg-2 p {
    opacity: 1;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.bgimg-3 {
    background-image: url("../images/IMG_8587.JPG");
    opacity: 1;
    height: 500px;
}

.bgimg-4 {
    background-image: url("../images/MountainForManikAji.jpg");
    opacity: 1;
    height: 500px;
}

.logo {
    float: left;
    width: 30%;
    padding: 40px;
}

.logo p {
    margin: 0;
}

nav {
    float: left;
    width: 100%;
    text-align: right;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.nav1 {
    float: left;
    width: 25%;
    padding: 5%;
}

.nav2 {
    float: left;
    width: 25%;
    padding: 5%;
}

.nav3 {
    float: left;
    width: 25%;
    padding: 5%;
}

.nav4 {
    float: left;
    width: 25%;
    padding: 5%;
}

nav a {
    font-family: "mencken-std-text", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding: 5%;
    border-radius: 20%;
    font-family: "lemonde-courrier", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.header {
    background-color: rgb(213, 188, 234);
    text-align: center;
    border-bottom: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    height: auto;
    width: 80%;
    border-radius: 20px;
}

.left {
    float: left;
    width: 20%;
    background-color: rgb(213, 188, 234);
}

.nav-left a {
    background-color: rgb(213, 188, 234);
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.main {
    float: left;
    width: 60%;
    color: rgb(213, 188, 234);
}

.right {
    float: left;
    width: 20%;
    background-color: white;
    padding: 15px 0;
    background-color: rgb(213, 188, 234);
}

.lefttop {
    float: left;
    width: 30%;
}

.leftbottom {
    margin-top: 40px;
    width: 55%;
    float: left;
    padding-left: 20px;
    padding: 0 30px;
    object-fit: contain;
    height: 200px;
}

.footer {
    text-align: center;
    background-color: rgb(213, 188, 234);
    color: rgb(255, 255, 255);
    padding: 15px;
    clear: both;
    margin-top: 10px;
}

footer {
    width: 60%;
    margin: auto;
}