body {
    background-color: rgb(79, 74, 74)
}

.div {
    width: auto;
    margin: 0px auto;
    border: 1px solid black;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.box {
    width: auto;
    margin: 0px auto;
    border: 1px solid black;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

.box1 {
    width: auto;
    margin: 0px auto;
    border: 1px solid black;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    height: 1050px;
}

h1 {
    color: rgb(102, 139, 136);
}

h2 {
    color: rgb(71, 129, 114);
}

h3 {
    color: rgb(255, 255, 255);
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(191, 221, 218);
}

ul.nav li {
    display: inline-block;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(60, 113, 98);
}

.active {
    background-color: rgb(60, 113, 98);
}

p {
    font-family: ofelia-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: black;
}

ul {
    font-family: ofelia-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: black;
}

table {
    border: 5px solid rgb(159, 159, 159);
    border-collapse: collapse;
    font-family: ofelia-text, sans-serif;
    font-style: normal;
}

h1 {
    font-family: fenwick-text, serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: ofelia-text, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: fenwick-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

ul {
    font-family: fenwick-text, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(214, 214, 214);
    color: rgb(113, 115, 117);
    text-align: center;
}

table,
th,
td {
    border: 5px solid rgb(154, 154, 154);
    border-collapse: collapse;
    font-family: ofelia-text, sans-serif;
}

.main1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.main3 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.main4 {
    grid-column: 2 / span 5;
    grid-row: 1 / span 1;
    border: gray dashed;
}

th {
    font-family: ofelia-text;
    font-weight: 700;
    font-style: normal;
}

td {
    font-family: fenwick-outlin;
    font-weight: 700;
    font-style: normal;
}

a {
    font-family: ofelia-text, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-family: fenwick-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-family: fenwick, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17px;
    color: rgb(73, 93, 87)
}

h5 {
    font-family: grecian-light-face, serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}